body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}

#gallery img {
    margin: 10px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}

#gallery img:hover {
    transform: scale(1.1);
}
